version: "3.9"

services:
  app:
    build: .
    container_name: kurikulum_app
    ports:
      - "8282:80"
    environment:
      TZ: Asia/jakarta
    volumes:
      - .:/var/www/html
      - /etc/localtime:/etc/localtime:ro
    networks:
      - shared-net
    restart: unless-stopped

networks:
  shared-net:
    external: true


